<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mutar</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Science+Gothic:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/side_bar_home.css">
    <link rel="stylesheet" href="/static/css/search_bar.css">
    <link rel="stylesheet" href="/static/css/grilla_semana.css">
    <link rel="stylesheet" href="/static/css/grilla_eventos.css">
    <link rel="stylesheet" href="/static/css/evento.css">
    <link rel="stylesheet" href="/static/css/crear_evento.css">
    <link rel="stylesheet" href="/static/css/crear_grupo.css">
    <link rel="stylesheet" href="/static/css/mis_grupos.css">
    <link rel="stylesheet" href="/static/css/mis_eventos.css">
    <link rel="stylesheet" href="/static/css/mis_favoritos.css">
    <link rel="stylesheet" href="/static/css/perfil.css">
    <link rel="stylesheet" href="/static/css/perfil_otro.css">
    <link rel="stylesheet" href="/static/css/resultado_usuario.css">
    <link rel="stylesheet" href="/static/css/perfil_grupo.css">
    <link rel="stylesheet" href="/static/css/editar_eventos_grupos.css">
    <link rel="stylesheet" href="/static/css/mis_seguidores.css">
</head>
<body>
    <div class="page-container">
        {% include 'partials/side_nav_home.html' %}
        
        <main class="main-content">
            {% include 'partials/search_user.html' %}
            
            {% block content %}
            {% endblock %}
        </main>
    </div>

    <script>
        window.GOOGLE_MAPS_MAP_ID = "{{ google_maps_map_id }}";
    </script>

    <script
    src="https://maps.googleapis.com/maps/api/js?key={{ google_maps_api_key }}&callback=initCrearEventoMap&v=weekly&libraries=marker"
    defer
    ></script>

    <script src="{{ url_for('static', filename='js/crear_evento_mapa.js') }}"></script>

    
</body>
</html>