<div class="search-eventos">
    <form action="/buscar_eventos" method="GET">
        <input type="search" name="q" placeholder="">
        <button type="submit">Buscar</button>
    </form>
    
    <div class="categorias">
        <a href="/eventos?categoria=arte">Arte</a>
        <span class="separator">|</span>
        <a href="/eventos?categoria=musica">Musica</a>
        <span class="separator">|</span>
        <a href="/eventos?categoria=performance">Performance</a>
        <span class="separator">|</span>
        <a href="/eventos?categoria=tecnologia">Tecnología</a>
        <span class="separator">|</span>
        <a href="/eventos?categoria=otros">Otros eventos</a>
    </div>
</div>