<aside class="sidebar_home">
    <h1 class="logo"><a href="/logo">MUTAR</a></h1>
    <nav class="nav-menu">
        <a href="/ir_crear_grupo" class="nav-link">Crear grupo</a>
        <a href="/crear_evento" class="nav-link">Crear evento</a>
        <a href="/ir_mis_grupos" class="nav-link">Mis grupos</a>
        <a href="/ir_mis_eventos" class="nav-link">Mis eventos</a>
        <a href="/ir_mis_favoritos" class="nav-link">Mis favoritos</a>
        <a href="/ir_mis_seguidores" class="nav-link">Mis seguidores</a>
        <a href="" class="nav-link">Mapa</a>
        <a href="" class="nav-link">Calendario</a>
    </nav>
    
    <div class="sidebar-footer">
        <a href="/ir_perfil" class="nav-link">Perfil</a>
        <a href="/logout" class="nav-link">Logout</a>
    </div>
</aside>